
/* Define colors as variable */
:root {
    /* --pageBackground: #222222;
    --loader-middle-color: var(--pageBackground);
    --loader-circle-background : #111111;
    --tail-color : #0d9997;
    --glowing-dot-color : #00fff9 */

    --pageBackground: #111111;
    --loader-middle-color: var(--pageBackground);
    --loader-circle-background : #000000;
    --tail-color : white;
    --glowing-dot-color : white;
}

/* Page styling to cover complete area and bring content to center using flex */
.loader-page{
    position : absolute; 
    top :0;
    bottom :0;
    right :0;
    left :0;

    display : flex; 
    justify-content : center; 
    align-items : center; 
    
    background-color: var(--pageBackground);
  }
  
  /* Container for loader, just reflect it's shadow below the original loader  */
  .loader-container{
    -webkit-box-reflect: below 1px linear-gradient(#0001, #4441);
  }
  
  /* Actual loader that will rotate infinitly */
  .loader{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--loader-circle-background);
  
    animation-name: rotate-loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  /* Make half circle of different color to render tail */
  /* Make its left cornors circular by applynin border-radius */
  /* Keep width 50% to cover half circle */
  .before{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to top, transparent, var(--tail-color));
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }

 

  /* This will render a dot(head of loader), with glowing effect(implemented using box-shadow) */
  .after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: var(--glowing-dot-color);
    box-shadow: 0 0 10px 0px var(--glowing-dot-color),
                0 0 20px 0px var(--glowing-dot-color),
                0 0 30px 0px var(--glowing-dot-color),
                0 0 40px 0px var(--glowing-dot-color),
                0 0 50px 0px var(--glowing-dot-color),
                0 0 60px 0px var(--glowing-dot-color),
                0 0 70px 10px var(--glowing-dot-color);
  }
  
  /* This span will behave as the middle section of loader and its background-color will match with outer color. */
  .loader span{
    position: absolute;
    top: .7rem;
    bottom: .7rem;
    left: .7rem;
    right: .7rem;
    background-color: var(--loader-middle-color);
    border-radius: 50%;
  }

  @keyframes rotate-loader {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }